<h1>Show Dev</h1>

<ul>

  <li>
    <strong>First name:</strong>
    <%= @dev.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @dev.last_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @dev.email %>
  </li>

 <strong>Assignments:</strong>
  <%= for a <-@dev.assignments do %>
    <%= a.name %>
    <strong>Due:</strong>
    <%= a.due_date %>
    <strong>Status</strong>
    <%= Manager.Management.get_status!(a.status_id).name %>
    <strong>Task</strong>
    <%= Manager.Management.get_task!(a.task_id).name %>
  <% end %>

</ul>

<span><%= link "Edit", to: Routes.dev_path(@conn, :edit, @dev) %></span> |
<span><%= link "Back", to: Routes.dev_path(@conn, :index) %></span>
