<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Our In-Class Activity" %></h1>
  <p>Jeffrey Carson and Jonathan Chavarria's expertly crafted task management system.</p>
</section>

